{% extends "layout.html" %}

{% block title %}Lab Book{% endblock %}
{% block lead %}Protocols and experimental records{% endblock %}

{% block page_content %}

<div class="labbook">

<article class="protocol">
  <h2>Ligation with T4 DNA Ligase (NEB #M0202)</h2>
  <p class="protocol-pdf">
    <a href="https://static.igem.wiki/teams/6379/wiki/ligation-with-t4-dna-ligase-neb-m0202.pdf" target="_blank" rel="noopener">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
      Download the full protocol (PDF)
    </a>
  </p>

  <div class="protocol-body">
    <h3 class="protocol-section">Introduction</h3>
    <h4>Experimental summary</h4>
    <p>
      The T4 DNA Ligation protocol catalyses the formation of a phosphodiester bond between a free 5&prime;-phosphate
      and an adjacent 3&prime;-hydroxyl group of double-stranded DNA, using ATP as a cofactor. In practical terms, it
      is the enzyme that seals a digested insert into a digested vector and converts the two linear fragments into
      one covalently closed circular plasmid that can be replicated by a bacterial host.
    </p>
    <p>
      In our workflow, ligation is the joining step of a conventional restriction-cloning route: the vector and the
      insert are first cut with restriction enzymes to generate compatible cohesive (sticky) ends, purified to remove
      enzymes, buffer and small fragments, and then brought together with T4 DNA Ligase. The ligated product is
      subsequently introduced into competent E. coli by transformation, and correct assembly is confirmed by
      antibiotic selection and colony PCR.
    </p>

    <h4>Experimental objective</h4>
    <p>This technique allows:</p>
    <ul class="protocol-aims">
      <li>Covalently join the EcoRI/PstI-digested, column-purified Ec67 insert to the linearised pET28a backbone, generating the circular recombinant plasmid pET28a&ndash;Ec67.</li>
      <li>Carry out the reaction at a 1:3 vector-to-insert molar ratio &mdash; 50&nbsp;ng (0.020&nbsp;pmol) pET28a to 37.5&nbsp;ng (0.060&nbsp;pmol) Ec67.</li>
      <li>Produce product transformable into competent E. coli, recoverable by kanamycin selection (pET28a marker).</li>
      <li>Retain a pre-ligation (no-ligase) aliquot as a gel reference.</li>
      <li>Deliver a transformable product to the downstream transformation/electroporation and colony-PCR steps.</li>
    </ul>

    <h4>Reference</h4>
    <p>These instructions follow:</p>
    <ul class="protocol-refs">
      <li>New England Biolabs. <em>Ligation Protocol with T4 DNA Ligase (NEB #M0202)</em>. Available at: <a href="https://www.neb.com/en/protocols/0001/01/01/dna-ligation-with-t4-dna-ligase-m0202" target="_blank" rel="noopener">neb.com</a></li>
      <li>New England Biolabs. <em>T4 DNA Ligase (M0202) product page and Reaction Buffer specification</em>. Available at: <a href="https://www.neb.com/en/products/m0202-t4-dna-ligase" target="_blank" rel="noopener">neb.com</a></li>
    </ul>

    <h3 class="protocol-section">Materials</h3>
    <ul class="protocol-materials">
      <li>10X T4 DNA Ligase Reaction Buffer (0.020&nbsp;pmol, 1&nbsp;ng/&micro;L)</li>
      <li>T4 DNA Ligase (400&nbsp;U, 8&nbsp;U/&micro;L)</li>
      <li>Vector DNA (4&nbsp;kb) (0.020&nbsp;pmol, 1&nbsp;ng/&micro;L)</li>
      <li>Insert DNA (1&nbsp;kb) (37.5&nbsp;ng = 0.060&nbsp;pmol, 0.75&nbsp;ng/&micro;L, 1:3 ratio)</li>
      <li>Nuclease-free water, MilliQ</li>
    </ul>

    <h3 class="protocol-section">Procedure</h3>
    <h4>Set up the T4 DNA Ligase Reaction</h4>
    <p class="protocol-note"><em>Note: T4 DNA Ligase should be added last. The table below shows a ligation using a molar ratio of 1:3 vector to insert for the indicated DNA sizes. Use the <a href="https://www.neb.com" target="_blank" rel="noopener">NEB calculator</a> to calculate molar ratios.</em></p>

    <ol class="protocol-steps">
      <li>Thaw the 10X T4 DNA Ligase Buffer and resuspend it at room temperature. Mix until the solution is completely clear, then keep it on ice.
        <br><em>Tip: Aliquot the 10X buffer less concentrated so when thawing, the DTT gets soluble more easily.</em>
      </li>
      <li>
        Set up the following reaction in a microcentrifuge tube on ice:
        <div class="table-responsive my-3 protocol-table-wrap">
          <table class="table table-bordered table-sm w-auto protocol-table">
            <thead>
              <tr><th>Component</th><th>Volume (&micro;l)</th></tr>
            </thead>
            <tbody>
              <tr><td>10X T4 DNA Ligase Buffer</td><td>5</td></tr>
              <tr><td>pET28a DNA: 50&nbsp;ng (0.020&nbsp;pmol)</td><td>20</td></tr>
              <tr><td>Ec67 DNA: 37.5&nbsp;ng (0.060&nbsp;pmol)</td><td>20</td></tr>
              <tr><td>Nuclease-free water</td><td>4</td></tr>
              <tr><td>T4 DNA Ligase</td><td>1</td></tr>
              <tr class="table-active"><td><strong>Total</strong></td><td><strong>50</strong></td></tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>Gently mix the reaction by pipetting up and down and microfuge briefly to collect the contents at the bottom of the tube. Do not vortex vigorously.</li>
      <li>For cohesive (sticky) ends, incubate at 16&deg;C overnight or room temperature for 10 minutes. For blunt ends or single base overhangs, incubate at 16&deg;C overnight or room temperature for 2 hours.</li>
      <li>Heat inactivate at 65&deg;C for 10 minutes to stop the reaction.</li>
      <li>Chill on ice and/or store it at &minus;20&deg;C.</li>
      <li class="protocol-endpoint">
        <strong>ENDPOINT:</strong> The ligation product is now ready for transformation, which is documented in a separate protocol.
        <br>For reference: NEB specifies 1&ndash;5&nbsp;&micro;L of the reaction into 50&nbsp;&micro;L of competent cells; our laboratory transforms 2&nbsp;&micro;L into 25&nbsp;&micro;L of chemically competent E. coli DH5&alpha;.
      </li>
    </ol>
  </div>
</article>

<article class="protocol protocol-pdf-only">
  <h2>Overlap Extension PCR</h2>
  <p class="protocol-pdf">
    <a href="https://static.igem.wiki/teams/6379/wiki/protocols/overlap-extension-pcr.pdf" target="_blank" rel="noopener">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
      Download the full protocol (PDF)
    </a>
  </p>
</article>

</div>

{% endblock %}
