{% extends "layout.html" %}

{% block title %}Lab Book{% endblock %}
{% block hero_image %}https://static.igem.wiki/teams/6379/wiki/banner/labbook.avif{% endblock %}
{% block hero_class %}hero-labbook{% endblock %}

{% block page_content %}

<div class="labbook">

<nav class="protocol-index" aria-label="Protocols">
  <div class="protocol-index-group">
    <h2 class="protocol-index-title"><a href="#dna-assembly">DNA Assembly</a></h2>
    <ul>
      <li><a href="#protocol-overlap-extension-pcr-m0273">Overlap Extension PCR (NEB M0273)</a></li>
      <li><a href="#protocol-restriction-digest">Restriction Digest</a></li>
      <li><a href="#protocol-ligation-with-t4-dna-ligase-m0202">Ligation with T4 DNA Ligase (NEB M0202)</a></li>
      <li><a href="#protocol-dna-gel-electrophoresis">DNA Gel Electrophoresis</a></li>
      <li><a href="#protocol-purify-dna-fragment-from-agarose-gel">Purify DNA Fragment from Agarose Gel</a></li>
    </ul>
  </div>
  <div class="protocol-index-group">
    <h2 class="protocol-index-title"><a href="#transformation">Transformation &amp; Screening</a></h2>
    <ul>
      <li><a href="#protocol-competent-cell-preparation">Competent Cell Preparation</a></li>
      <li><a href="#protocol-electroporation-transformation">Electroporation Transformation</a></li>
      <li><a href="#protocol-plating">Plating</a></li>
      <li><a href="#protocol-colony-pcr">Colony PCR</a></li>
      <li><a href="#protocol-growth-of-bacteria-in-liquid-media">Growth of Bacteria in Liquid Media</a></li>
      <li><a href="#protocol-isolate-amplified-plasmids-from-bacteria">Isolate Amplified Plasmids from Bacteria</a></li>
      <li><a href="#protocol-cell-maintenance">Cell Maintenance</a></li>
    </ul>
  </div>
  <div class="protocol-index-group">
    <h2 class="protocol-index-title"><a href="#expression">Expression &amp; Extraction</a></h2>
    <ul>
      <li><a href="#protocol-sds-page">SDS-PAGE</a></li>
      <li><a href="#protocol-trizol">TRIzol</a></li>
      <li><a href="#protocol-aptamer-and-drug-solution-preparation">Aptamer and Drug Solution Preparation</a></li>
      <li><a href="#protocol-supernatant-extraction-and-purification">Supernatant Extraction and Purification</a></li>
    </ul>
  </div>
  <div class="protocol-index-group">
    <h2 class="protocol-index-title"><a href="#assays"><i>P. aeruginosa</i> Assays</a></h2>
    <ul>
      <li><a href="#protocol-co-culture">Co-culture</a></li>
      <li><a href="#protocol-time-course-ahl-3-oxo-c12-hsl-dose-response-fluorescence">Time-Course AHL (3-oxo-C12-HSL) Dose-Response Fluorescence</a></li>
      <li><a href="#protocol-pyocyanin-test">Pyocyanin Test</a></li>
      <li><a href="#protocol-swimming-assay">Swimming Assay</a></li>
      <li><a href="#protocol-swarming-assay">Swarming Assay</a></li>
    </ul>
  </div>
  <div class="protocol-index-group">
    <h2 class="protocol-index-title"><a href="#appendix">Appendix</a></h2>
    <ul>
      <li><a href="#appendix">Buffer &amp; Reagent Recipes</a></li>
    </ul>
  </div>
</nav>

<h2 class="protocol-group" id="dna-assembly">DNA Assembly</h2>

<article class="protocol-embed" id="protocol-overlap-extension-pcr-m0273">
  <div class="protocol-head">
    <h2>Overlap Extension PCR (NEB M0273)</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/overlap-extension-pcr-m0273.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/overlap-extension-pcr-m0273.pdf#view=FitH&amp;navpanes=0"
            title="Overlap Extension PCR (NEB M0273)" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-restriction-digest">
  <div class="protocol-head">
    <h2>Restriction Digest</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/restriction-digest.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/restriction-digest.pdf#view=FitH&amp;navpanes=0"
            title="Restriction Digest" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-ligation-with-t4-dna-ligase-m0202">
  <div class="protocol-head">
    <h2>Ligation with T4 DNA Ligase (NEB M0202)</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/ligation-with-t4-dna-ligase-m0202.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/ligation-with-t4-dna-ligase-m0202.pdf#view=FitH&amp;navpanes=0"
            title="Ligation with T4 DNA Ligase (NEB M0202)" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-dna-gel-electrophoresis">
  <div class="protocol-head">
    <h2>DNA Gel Electrophoresis</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/dna-gel-electrophoresis.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/dna-gel-electrophoresis.pdf#view=FitH&amp;navpanes=0"
            title="DNA Gel Electrophoresis" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-purify-dna-fragment-from-agarose-gel">
  <div class="protocol-head">
    <h2>Purify DNA Fragment from Agarose Gel</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/purify-dna-fragment-from-agarose-gel.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/purify-dna-fragment-from-agarose-gel.pdf#view=FitH&amp;navpanes=0"
            title="Purify DNA Fragment from Agarose Gel" loading="lazy"></iframe>
  </div>
</article>

<h2 class="protocol-group" id="transformation">Transformation &amp; Screening</h2>

<article class="protocol-embed" id="protocol-competent-cell-preparation">
  <div class="protocol-head">
    <h2>Competent Cell Preparation</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/competent-cell-preparation.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/competent-cell-preparation.pdf#view=FitH&amp;navpanes=0"
            title="Competent Cell Preparation" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-electroporation-transformation">
  <div class="protocol-head">
    <h2>Electroporation Transformation</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/electroporation-transformation.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/electroporation-transformation.pdf#view=FitH&amp;navpanes=0"
            title="Electroporation Transformation" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-plating">
  <div class="protocol-head">
    <h2>Plating</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/plating.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/plating.pdf#view=FitH&amp;navpanes=0"
            title="Plating" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-colony-pcr">
  <div class="protocol-head">
    <h2>Colony PCR</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/clony-pcr.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/clony-pcr.pdf#view=FitH&amp;navpanes=0"
            title="Colony PCR" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-growth-of-bacteria-in-liquid-media">
  <div class="protocol-head">
    <h2>Growth of Bacteria in Liquid Media</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/growth-of-bacteria-in-liquid-media.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/growth-of-bacteria-in-liquid-media.pdf#view=FitH&amp;navpanes=0"
            title="Growth of Bacteria in Liquid Media" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-isolate-amplified-plasmids-from-bacteria">
  <div class="protocol-head">
    <h2>Isolate Amplified Plasmids from Bacteria</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/isolate-amplified-plasmids-from-bacteria.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/isolate-amplified-plasmids-from-bacteria.pdf#view=FitH&amp;navpanes=0"
            title="Isolate Amplified Plasmids from Bacteria" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-cell-maintenance">
  <div class="protocol-head">
    <h2>Cell Maintenance</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/cell-maintenance.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/cell-maintenance.pdf#view=FitH&amp;navpanes=0"
            title="Cell Maintenance" loading="lazy"></iframe>
  </div>
</article>

<h2 class="protocol-group" id="expression">Expression &amp; Extraction</h2>

<article class="protocol-embed" id="protocol-sds-page">
  <div class="protocol-head">
    <h2>SDS-PAGE</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/sds-page.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/sds-page.pdf#view=FitH&amp;navpanes=0"
            title="SDS-PAGE" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-trizol">
  <div class="protocol-head">
    <h2>TRIzol</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/trizol.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/trizol.pdf#view=FitH&amp;navpanes=0"
            title="TRIzol" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-aptamer-and-drug-solution-preparation">
  <div class="protocol-head">
    <h2>Aptamer and Drug Solution Preparation</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/aptamer-and-drug-solution-preparation.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/aptamer-and-drug-solution-preparation.pdf#view=FitH&amp;navpanes=0"
            title="Aptamer and Drug Solution Preparation" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-supernatant-extraction-and-purification">
  <div class="protocol-head">
    <h2>Supernatant Extraction and Purification</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/supernatant-extraction-and-purification.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/supernatant-extraction-and-purification.pdf#view=FitH&amp;navpanes=0"
            title="Supernatant Extraction and Purification" loading="lazy"></iframe>
  </div>
</article>

<h2 class="protocol-group" id="assays"><i>P. aeruginosa</i> Assays</h2>

<article class="protocol-embed" id="protocol-co-culture">
  <div class="protocol-head">
    <h2>Co-culture</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/co-culture.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/co-culture.pdf#view=FitH&amp;navpanes=0"
            title="Co-culture" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-time-course-ahl-3-oxo-c12-hsl-dose-response-fluorescence">
  <div class="protocol-head">
    <h2>Time-Course AHL (3-oxo-C12-HSL) Dose-Response Fluorescence</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/time-course-ahl-3-oxo-c12-hsl-dose-response-fluorescence.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/time-course-ahl-3-oxo-c12-hsl-dose-response-fluorescence.pdf#view=FitH&amp;navpanes=0"
            title="Time-Course AHL (3-oxo-C12-HSL) Dose-Response Fluorescence" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-pyocyanin-test">
  <div class="protocol-head">
    <h2>Pyocyanin Test</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/pyocyanin-test.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/pyocyanin-test.pdf#view=FitH&amp;navpanes=0"
            title="Pyocyanin Test" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-swimming-assay">
  <div class="protocol-head">
    <h2>Swimming Assay</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/swimming-assay.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/swimming-assay.pdf#view=FitH&amp;navpanes=0"
            title="Swimming Assay" loading="lazy"></iframe>
  </div>
</article>

<hr class="protocol-rule">

<article class="protocol-embed" id="protocol-swarming-assay">
  <div class="protocol-head">
    <h2>Swarming Assay</h2>
    <p class="protocol-pdf">
      <a href="https://static.igem.wiki/teams/6379/wiki/protocols/swarmming-assay.pdf" target="_blank" rel="noopener"
         title="Download the full protocol (PDF)">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/><path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/></svg>
        <span class="protocol-pdf-label">Download the full protocol (PDF)</span>
      </a>
    </p>
  </div>
  <div class="protocol-viewer">
    <iframe src="https://static.igem.wiki/teams/6379/wiki/protocols/swarmming-assay.pdf#view=FitH&amp;navpanes=0"
            title="Swarming Assay" loading="lazy"></iframe>
  </div>
</article>

<article class="protocol" id="appendix">
  <h2>Appendix: Buffer &amp; Reagent Recipes</h2>
  <div class="protocol-body">

    <h3 class="protocol-section">DNA Purification</h3>
    <p><strong>Mini-prep (Qiagen Kit Buffer)</strong></p>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Materials</th><th>Components</th><th>Proportion</th></tr>
        </thead>
        <tbody>
          <tr class="group-start"><td rowspan="3" class="recipe-group">P1 buffer</td><td>Tris-HCl (pH 8.0)</td><td>50 mM</td></tr>
          <tr><td>EDTA</td><td>10 mM</td></tr>
          <tr><td>RNase A</td><td>100 &micro;g/ml</td></tr>
          <tr class="group-start"><td rowspan="2" class="recipe-group">P2 buffer</td><td>NaOH</td><td>200 mM</td></tr>
          <tr><td>SDS (w/v)</td><td>1%</td></tr>
          <tr class="group-start"><td rowspan="2" class="recipe-group">P3 buffer</td><td>Potassium acetate</td><td>3 M</td></tr>
          <tr><td>pH 5.5 (adjusted with acetic acid)</td><td>&mdash;</td></tr>
          <tr class="group-start"><td rowspan="2" class="recipe-group">PD buffer</td><td>Guanidine-HCl</td><td>5.0 M</td></tr>
          <tr><td>Isopropanol (v/v) (pH 7.5)</td><td>30%</td></tr>
          <tr class="group-start"><td rowspan="2" class="recipe-group">PW buffer</td><td>Tris-HCl (pH 7.5)</td><td>10 mM</td></tr>
          <tr><td>Ethanol (v/v)</td><td>80%</td></tr>
          <tr class="group-start"><td class="recipe-group">EB buffer</td><td>Tris-HCl (pH 8.5)</td><td>10 mM</td></tr>
        </tbody>
      </table>
    </div>
    <p><strong>TOOLs Gel Extraction and PCR Cleanup Kit (Cat. no. ST-G01)</strong></p>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Materials</th><th>Components</th><th>Proportion</th></tr>
        </thead>
        <tbody>
          <tr class="group-start"><td rowspan="4" class="recipe-group">DS Buffer</td><td>Guanidinium isothiocyanate</td><td>6 M</td></tr>
          <tr><td>Sodium acetate (NaAc)</td><td>30 mM</td></tr>
          <tr><td>EDTA</td><td>2 mM</td></tr>
          <tr><td>Triton X-100</td><td>0.5% (v/v)</td></tr>
          <tr class="group-start"><td rowspan="4" class="recipe-group">Wash Buffer (ethanol added)</td><td>Tris-HCl (pH 7.5)</td><td>10 mM</td></tr>
          <tr><td>NaCl</td><td>15 mM</td></tr>
          <tr><td>EDTA (pH 8.0)</td><td>0.5 mM</td></tr>
          <tr><td>Absolute ethanol (99.5%+)</td><td>80% (v/v)</td></tr>
          <tr class="group-start"><td class="recipe-group">EB buffer</td><td>Tris-HCl (pH 8.5)</td><td>10 mM</td></tr>
        </tbody>
      </table>
    </div>

    <h3 class="protocol-section">Transformation</h3>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Materials</th><th>Components</th><th>Proportion</th></tr>
        </thead>
        <tbody>
          <tr class="group-start"><td rowspan="5" class="recipe-group">SOB-Mg medium</td><td>DW (RO) water</td><td>adjusted to 100 ml</td></tr>
          <tr><td>Trypton peptone</td><td>2% (w/v)</td></tr>
          <tr><td>Yeast extract</td><td>0.5% (w/v)</td></tr>
          <tr><td>NaCl</td><td>10 mM</td></tr>
          <tr><td>3M KCl</td><td>2.5 mM</td></tr>
          <tr class="group-start"><td rowspan="7" class="recipe-group">1X SOC Outgrowth Medium</td><td>Vegetable Peptone</td><td>2% (w/v)</td></tr>
          <tr><td>Yeast Extract</td><td>0.5% (w/v)</td></tr>
          <tr><td>NaCl</td><td>10 mM</td></tr>
          <tr><td>KCl</td><td>2.5 mM</td></tr>
          <tr><td>MgCl<sub>2</sub></td><td>10 mM</td></tr>
          <tr><td>MgSO<sub>4</sub></td><td>10 mM</td></tr>
          <tr><td>Glucose</td><td>20 mM</td></tr>
        </tbody>
      </table>
    </div>

    <h3 class="protocol-section">SDS-PAGE</h3>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Materials</th><th>Components</th><th>Proportion</th></tr>
        </thead>
        <tbody>
          <tr class="group-start"><td rowspan="6" class="recipe-group">12.5% Separation gel</td><td>MQ water</td><td>adjust to 1 mL</td></tr>
          <tr><td>30% Acrylamide</td><td>2.09 mL</td></tr>
          <tr><td>Separation buffer (pH 8.8)</td><td>1.875 mL</td></tr>
          <tr><td>10% SDS</td><td>50 &micro;L</td></tr>
          <tr><td>10% APS</td><td>50 &micro;L</td></tr>
          <tr><td>TEMED (add at the end)</td><td>4 &micro;L</td></tr>
          <tr class="group-start"><td rowspan="5" class="recipe-group">Stacking gel</td><td>MQ water</td><td>2.1 mL</td></tr>
          <tr><td>30% Acrylamide</td><td>500 &micro;L</td></tr>
          <tr><td>Stacking buffer (pH 6.8)</td><td>375 &micro;L</td></tr>
          <tr><td>10% SDS</td><td>30 &micro;L</td></tr>
          <tr><td>TEMED (add at the end)</td><td>3 &micro;L</td></tr>
          <tr class="group-start"><td rowspan="3" class="recipe-group">10X Tank buffer</td><td>Tris-base</td><td>30.28 g</td></tr>
          <tr><td>Glycine</td><td>144.14 g</td></tr>
          <tr><td>MQ water</td><td>add to 1 L</td></tr>
          <tr class="group-start"><td rowspan="3" class="recipe-group">1X Tank buffer + SDS</td><td>10X Tank buffer</td><td>100 mL</td></tr>
          <tr><td>RO water</td><td>900 mL</td></tr>
          <tr><td>SDS</td><td>1 g</td></tr>
        </tbody>
      </table>
    </div>

    <h3 class="protocol-section">Gel Electrophoresis</h3>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Materials</th><th>Components</th><th>Proportion</th></tr>
        </thead>
        <tbody>
          <tr class="group-start"><td rowspan="3" class="recipe-group">1x TBE buffer</td><td>Tris</td><td>0.13 M (pH 7.6)</td></tr>
          <tr><td>Boric acid</td><td>45 mM</td></tr>
          <tr><td>EDTA</td><td>2.5 mM</td></tr>
        </tbody>
      </table>
    </div>

    <h3 class="protocol-section">Plasmid Linearisation (Primers)</h3>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Primer</th><th>Sequence (5&rsquo; &rarr; 3&rsquo;)</th><th>Tm (&deg;C)</th></tr>
        </thead>
        <tbody>
          <tr><td>M13M4-mul</td><td>&mdash;</td><td>&mdash;</td></tr>
          <tr><td>Ap-C-Out</td><td>gcgcagatctcagaccccgtagaaaagatc</td><td>69.1</td></tr>
          <tr><td>COLE1-2</td><td>GCGAAACCCGACAGGACTAT</td><td>56.3</td></tr>
          <tr><td>CmN-out</td><td>aaatacgcccggtagtgatc</td><td>53.9</td></tr>
        </tbody>
      </table>
    </div>

    <h3 class="protocol-section">PCR</h3>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Materials</th><th>Components</th><th>Proportion</th></tr>
        </thead>
        <tbody>
          <tr class="group-start"><td rowspan="3" class="recipe-group">10X Taq DNA Polymerase PCR Buffer / 10X Standard Taq Reaction Buffer</td><td>Tris-HCl</td><td>100 mM (pH 8.3)</td></tr>
          <tr><td>KCl</td><td>500 mM</td></tr>
          <tr><td>MgCl<sub>2</sub></td><td>15 mM</td></tr>
        </tbody>
      </table>
    </div>

    <h3 class="protocol-section">Restriction Digestion</h3>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Materials</th><th>Components</th><th>Proportion</th></tr>
        </thead>
        <tbody>
          <tr class="group-start"><td rowspan="4" class="recipe-group">1X rCutSmart Buffer</td><td>Potassium acetate</td><td>50 mM</td></tr>
          <tr><td>Tris-acetate</td><td>20 mM (pH 7.9)</td></tr>
          <tr><td>Magnesium Acetate</td><td>10 mM</td></tr>
          <tr><td>Recombinant Albumin</td><td>100 &micro;g/ml</td></tr>
        </tbody>
      </table>
    </div>
    <p><strong>Restriction Enzymes (Recognition Sequence):</strong></p>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe protocol-table--cols-2">
        <thead>
          <tr><th>Enzyme</th><th>Recognition Sequence (double strand)</th></tr>
        </thead>
        <tbody>
          {#
            Both strands as text rather than as a picture of text: it stays sharp
            at any zoom, it can be selected and searched, a screen reader reads the
            bases out, and it follows the page's own colours instead of sitting in
            a white box. The bar marks where the enzyme cuts -- the offset between
            the two bars is the overhang. Sequences and cut positions are the same
            ones the images carried, which were in their alt text.
          #}
          <tr><td>KpnI</td><td>
            <span class="rsite">
              <span class="rsite-end">5&prime;</span><span class="rsite-bases">GGTAC<i class="rsite-cut"></i>C</span><span class="rsite-end">3&prime;</span>
              <span class="rsite-end">3&prime;</span><span class="rsite-bases">C<i class="rsite-cut"></i>CATGG</span><span class="rsite-end">5&prime;</span>
            </span>
          </td></tr>
          <tr><td>NdeI</td><td>
            <span class="rsite">
              <span class="rsite-end">5&prime;</span><span class="rsite-bases">CA<i class="rsite-cut"></i>TATG</span><span class="rsite-end">3&prime;</span>
              <span class="rsite-end">3&prime;</span><span class="rsite-bases">GTAT<i class="rsite-cut"></i>AC</span><span class="rsite-end">5&prime;</span>
            </span>
          </td></tr>
          <tr><td>XbaI</td><td>
            <span class="rsite">
              <span class="rsite-end">5&prime;</span><span class="rsite-bases">T<i class="rsite-cut"></i>CTAGA</span><span class="rsite-end">3&prime;</span>
              <span class="rsite-end">3&prime;</span><span class="rsite-bases">AGATC<i class="rsite-cut"></i>T</span><span class="rsite-end">5&prime;</span>
            </span>
          </td></tr>
          <tr><td>EcoRI</td><td>
            <span class="rsite">
              <span class="rsite-end">5&prime;</span><span class="rsite-bases">G<i class="rsite-cut"></i>AATTC</span><span class="rsite-end">3&prime;</span>
              <span class="rsite-end">3&prime;</span><span class="rsite-bases">CTTAA<i class="rsite-cut"></i>G</span><span class="rsite-end">5&prime;</span>
            </span>
          </td></tr>
          <tr><td>HindIII</td><td>
            <span class="rsite">
              <span class="rsite-end">5&prime;</span><span class="rsite-bases">A<i class="rsite-cut"></i>AGCTT</span><span class="rsite-end">3&prime;</span>
              <span class="rsite-end">3&prime;</span><span class="rsite-bases">TTCGA<i class="rsite-cut"></i>A</span><span class="rsite-end">5&prime;</span>
            </span>
          </td></tr>
        </tbody>
      </table>
    </div>

    <h3 class="protocol-section">DNA Ligation</h3>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Materials</th><th>Components</th><th>Proportion</th></tr>
        </thead>
        <tbody>
          <tr class="group-start"><td rowspan="4" class="recipe-group">1X T4 DNA Ligase Reaction Buffer</td><td>Tris-HCl (pH 7.5)</td><td>50 mM</td></tr>
          <tr><td>MgCl<sub>2</sub></td><td>10 mM</td></tr>
          <tr><td>DTT</td><td>10 mM</td></tr>
          <tr><td>ATP</td><td>1 mM</td></tr>
        </tbody>
      </table>
    </div>

    <h3 class="protocol-section">Medium Preparation</h3>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Materials</th><th>Components</th><th>Proportion</th></tr>
        </thead>
        <tbody>
          <tr class="group-start"><td rowspan="7" class="recipe-group">1.5% Luria-Bertani (LB) Medium Agar plate (100 ml)</td><td>DW (RO) water</td><td>adjust to 100 ml</td></tr>
          <tr><td>Tryptone peptone</td><td>1 g</td></tr>
          <tr><td>NaCl</td><td>1 g</td></tr>
          <tr><td>Bacterial agar</td><td>1.5 g</td></tr>
          <tr><td>NaOH (10N)</td><td>20 &micro;l</td></tr>
          <tr><td>Yeast extract</td><td>0.5 g</td></tr>
          <tr><td>(Antibiotics)</td><td>appropriate volume</td></tr>
          <tr class="group-start"><td rowspan="5" class="recipe-group">0.5% Swarming Plate (100 ml)</td><td>DW (RO) water</td><td>adjust to 100 ml</td></tr>
          <tr><td>Tryptone peptone</td><td>1 g</td></tr>
          <tr><td>NaCl</td><td>0.5 g</td></tr>
          <tr><td>Bacterial agar</td><td>0.5 g</td></tr>
          <tr><td>D-fructose</td><td>0.5 g</td></tr>
          <tr class="group-start"><td rowspan="4" class="recipe-group">0.3% Swimming Plate (100 ml)</td><td>DW (RO) water</td><td>adjust to 100 ml</td></tr>
          <tr><td>Tryptone peptone</td><td>1 g</td></tr>
          <tr><td>NaCl</td><td>0.5 g</td></tr>
          <tr><td>Bacterial agar</td><td>0.3 g</td></tr>
          <tr class="group-start"><td rowspan="6" class="recipe-group">Luria-Bertani (LB) Medium broth (100 ml)</td><td>DW (RO) water</td><td>adjust to 100 ml</td></tr>
          <tr><td>Tryptone peptone</td><td>1 g</td></tr>
          <tr><td>NaCl</td><td>1 g</td></tr>
          <tr><td>Bacterial agar</td><td>1.5 g</td></tr>
          <tr><td>NaOH (10N)</td><td>20 &micro;l</td></tr>
          <tr><td>Yeast extract</td><td>0.5 g</td></tr>
          <tr class="group-start"><td rowspan="6" class="recipe-group">0.3% Soft agar (100 ml)</td><td>DW (RO) water</td><td>adjust to 100 ml</td></tr>
          <tr><td>Tryptone peptone</td><td>1 g</td></tr>
          <tr><td>NaCl</td><td>1 g</td></tr>
          <tr><td>Bacterial agar</td><td>0.3 g</td></tr>
          <tr><td>NaOH (10N)</td><td>20 &micro;l</td></tr>
          <tr><td>Yeast extract</td><td>0.5 g</td></tr>
        </tbody>
      </table>
    </div>

    <h3 class="protocol-section">Antibiotics</h3>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Name</th><th>Stock Concentration</th><th>Dosage</th></tr>
        </thead>
        <tbody>
          <tr><td>Chloramphenicol</td><td>4 ng/&micro;l</td><td>50 &micro;l / 100 ml</td></tr>
        </tbody>
      </table>
    </div>

    <h3 class="protocol-section">Aptamer and Drug Solution Preparation</h3>
    <div class="protocol-table-wrap protocol-table-wrap--recipe">
      <table class="protocol-table protocol-table--recipe">
        <thead>
          <tr><th>Materials</th><th>Components</th><th>Proportion</th></tr>
        </thead>
        <tbody>
          <tr class="group-start"><td rowspan="4" class="recipe-group">Aptamer binding buffer</td><td>Tris-HCl (pH 7.4)</td><td>20 mM</td></tr>
          <tr><td>NaCl</td><td>100 mM</td></tr>
          <tr><td>MgCl<sub>2</sub></td><td>1 mM</td></tr>
          <tr><td>KCl</td><td>5 mM</td></tr>
        </tbody>
      </table>
    </div>

  </div>
</article>

</div>

{% endblock %}

{% block extra_scripts %}
{# Only the protocol viewers near the screen stay alive; see the file #}
<script src="{{ url_for('static', filename = 'js/pages/labbook-pdf.js') }}" defer></script>
{% endblock %}
